In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as p
#np.experimental_enable_numpy_behavior()
#tf.config.list_physical_devices('GPU')

In [ ]:
train_df = pd.read_csv('train.csv')
split_index = train_df.iloc[-1].Id
test_df = pd.read_csv('test.csv')
print(len(test_df))
df = pd.concat((train_df, test_df), sort=False)
df.head()

1459

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [ ]:
for column in df.columns:
  nnull = df[column].isnull().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

MSZoning: 4 / 2919 Null
LotFrontage: 486 / 2919 Null
Alley: 2721 / 2919 Null
Utilities: 2 / 2919 Null
Exterior1st: 1 / 2919 Null
Exterior2nd: 1 / 2919 Null
MasVnrType: 24 / 2919 Null
MasVnrArea: 23 / 2919 Null
BsmtQual: 81 / 2919 Null
BsmtCond: 82 / 2919 Null
BsmtExposure: 82 / 2919 Null
BsmtFinType1: 79 / 2919 Null
BsmtFinSF1: 1 / 2919 Null
BsmtFinType2: 80 / 2919 Null
BsmtFinSF2: 1 / 2919 Null
BsmtUnfSF: 1 / 2919 Null
TotalBsmtSF: 1 / 2919 Null
Electrical: 1 / 2919 Null
BsmtFullBath: 2 / 2919 Null
BsmtHalfBath: 2 / 2919 Null
KitchenQual: 1 / 2919 Null
Functional: 2 / 2919 Null
FireplaceQu: 1420 / 2919 Null
GarageType: 157 / 2919 Null
GarageYrBlt: 159 / 2919 Null
GarageFinish: 159 / 2919 Null
GarageCars: 1 / 2919 Null
GarageArea: 1 / 2919 Null
GarageQual: 159 / 2919 Null
GarageCond: 159 / 2919 Null
PoolQC: 2909 / 2919 Null
Fence: 2348 / 2919 Null
MiscFeature: 2814 / 2919 Null
SaleType: 1 / 2919 Null
SalePrice: 1459 / 2919 Null

In [ ]:
# Replace NaN values with 'NA' in columns where NaN is a category
df.Alley.fillna('NA', inplace=True)
df.BsmtQual.fillna('NA', inplace=True)
df.BsmtCond.fillna('NA', inplace=True)
df.BsmtExposure.fillna('NA', inplace=True)
df.BsmtFinType1.fillna('NA', inplace=True)
df.BsmtFinType2.fillna('NA', inplace=True)
df.FireplaceQu.fillna('NA', inplace=True)
df.GarageType.fillna('NA', inplace=True)
df.GarageFinish.fillna('NA', inplace=True)
df.GarageQual.fillna('NA', inplace=True)
df.GarageCond.fillna('NA', inplace=True)
df.PoolQC.fillna('NA', inplace=True)
df.Fence.fillna('NA', inplace=True)
df.MiscFeature.fillna('NA', inplace=True)

'''df.MSZoning.fillna('A', inplace=True)
df.LotFrontage.fillna(df.LotFrontage.mean(), inplace=True)
df.Utilities.fillna('AllPub', inplace=True)
df.Exterior1st.fillna('Other', inplace=True)
df.Exterior2nd.fillna('Other', inplace=True)
df.MasVnrType.fillna('BrkCmn', inplace=True)
df.MasVnrArea.fillna(df.MasVnrArea.mean(), inplace=True)
df.BsmtFinSF1.fillna(df.BsmtFinSF1.mean(), inplace=True)'''

for column in df.columns:
  if df[column].isnull().sum() > 0:
    if df[column].dtype == 'object':
      print(column, df[column].isnull().sum(), df[column].mode(dropna=True))
      df[column].fillna(df[column].mode(dropna=True), inplace=True)
    else:
      df[column].fillna(df[column].mean(), inplace=True)

for column in df.columns:
  nnull = df[column].isnull().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

MSZoning 4 0    RL
dtype: object
Utilities 2 0    AllPub
dtype: object
Exterior1st 1 0    VinylSd
dtype: object
Exterior2nd 1 0    VinylSd
dtype: object
MasVnrType 24 0    None
dtype: object
Electrical 1 0    SBrkr
dtype: object
KitchenQual 1 0    TA
dtype: object
Functional 2 0    Typ
dtype: object
SaleType 1 0    WD
dtype: object
MSZoning: 4 / 2919 Null
Utilities: 2 / 2919 Null
Exterior1st: 1 / 2919 Null
Exterior2nd: 1 / 2919 Null
MasVnrType: 24 / 2919 Null
Electrical: 1 / 2919 Null
KitchenQual: 1 / 2919 Null
Functional: 2 / 2919 Null
SaleType: 1 / 2919 Null

In [ ]:
df.LotFrontage.fillna(df.LotFrontage.mean(), inplace=True)
df.GarageYrBlt.fillna(df.GarageYrBlt.mode(), inplace=True)
df.SalePrice.fillna(0, inplace=True)
df.dropna(axis='rows', inplace=True)

for column in df.columns:
  nnull = df[column].isnull().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

# Should be no NaNs past this point

In [ ]:
# Define a function to help with converting columns to one-hot categorical

def col_to_categorical(df, col):
  categorical = pd.get_dummies(df[col])

  for value in categorical.columns:
    df[col + '_' + value] = categorical[value]
  
  df.drop(col, axis='columns', inplace=True)

# Define a convenience function for converting multiple columns to one-hot categorical

def cols_to_categorical(df, cols):
  for col in cols:
    col_to_categorical(df, col)

In [ ]:
categorical_cols = [
  'MSZoning',
  'Street',
  'Alley',
  'LotShape',
  'LandContour',
  'Utilities',
  'LotConfig',
  'LandSlope',
  'Neighborhood',
  'Condition1',
  'Condition2',
  'BldgType',
  'HouseStyle',
  'RoofStyle',
  'RoofMatl',
  'Exterior1st',
  'Exterior2nd',
  'MasVnrType',
  'ExterQual',
  'ExterCond',
  'Foundation',
  'BsmtQual',
  'BsmtCond',
  'BsmtExposure',
  'BsmtFinType1',
  'BsmtFinType2',
  'Heating',
  'HeatingQC',
  'CentralAir',
  'Electrical',
  'KitchenQual',
  'Functional',
  'FireplaceQu',
  'GarageType',
  'GarageFinish',
  'GarageQual',
  'GarageCond',
  'PavedDrive',
  'PoolQC',
  'Fence',
  'MiscFeature',
  'SaleType',
  'SaleCondition'
]

In [ ]:
cols_to_categorical(df, categorical_cols)
df.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=304)

In [ ]:
df.set_index('Id', drop=True, inplace=True)

In [ ]:
from sklearn.preprocessing import minmax_scale

# Scale all columns
for column in df.columns:
  df[column] = pd.Series(minmax_scale(df[column]), index=df.index)

In [ ]:
target_col = df.loc[:split_index].SalePrice
df.drop('SalePrice', axis='columns', inplace=True)

In [ ]:
train_df = df.loc[:split_index]

for i in range(split_index + 1, split_index + 100):
  if i in df.index:
    test_df = df.loc[i:]
    break

train_df.to_csv('train_out.csv')
test_df.to_csv('test_out.csv')
train_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.12250,0.125089,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.00000,0.173281,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.10125,0.086109,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.00000,0.038271,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.21875,0.116052,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
print(train_df.shape, test_df.shape, target_col.shape)

(1451, 302) (1434, 302) (1451,)

In [ ]:
X_train = np.array(train_df.to_numpy())
Y = np.array(target_col.to_numpy())
print(X_train.shape, Y.shape)

(1451, 302) (1451,)

In [ ]:
train_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.12250,0.125089,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.00000,0.173281,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.10125,0.086109,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.00000,0.038271,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.21875,0.116052,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
def mse(X, Y):
  return ((X - Y) ** 2).mean() / 2

In [ ]:
def linear_regression(x, w, b):
  return np.dot(x, w) + b

print(linear_regression([2], [3], 2))

8

In [ ]:
def gradient_descent(X, Y, w, _b, learning_rate, iterations):
  b = _b
  double_len_X = len(X) * 2
  X_transpose = X.transpose()

  for _ in range(iterations):
    #linear_regressions = np.array([linear_regression(x, w, b) for x in X])
    linear_regressions = linear_regression(X, w, b)
    differences = (linear_regressions - Y)

    '''for i in range(len(w)):
      w_change = (differences * X[:, i]).mean()

      #for j in range(len(X)):
      #  w_change += differences[j] * X[j][i]
      
      w[i] -= learning_rate * w_change / 2'''
    
    w -= learning_rate * np.dot(X_transpose, differences) / double_len_X
    b_change = differences.mean()

    '''for j in range(len(X)):
      b_change += (linear_regressions[j] - Y[j])'''
    
    b -= learning_rate * b_change / 2

    if _ % 10000 == 0:
      print('Iteration: ' + str(_) + ', Loss: ' + str(mse(linear_regressions, Y)))
  
  return b

In [ ]:
w = np.array([0] * 302, dtype='float')
b = gradient_descent(X_train, Y, w, 0, 0.01, 100000)

Iteration: 0, Loss: 0.026537373720628792
Iteration: 10000, Loss: 0.000729135306130263
Iteration: 20000, Loss: 0.0006523754656198929
Iteration: 30000, Loss: 0.0006181237243899809
Iteration: 40000, Loss: 0.0005961974813209507
Iteration: 50000, Loss: 0.0005799985371904691
Iteration: 60000, Loss: 0.0005670949690555364
Iteration: 70000, Loss: 0.0005563384835328089
Iteration: 80000, Loss: 0.0005471061339021368
Iteration: 90000, Loss: 0.00053902493407855

In [ ]:
print(list(w), b)

[-0.02105097491110512, -0.020754502714138052, 0.05868900461173466, 0.09507797215054574, 0.04963636863766979, 0.0168054793887211, 0.007318472594647424, 0.03995538069734517, 0.03894443813279452, 0.015150009703132024, 0.010269693032198143, 0.043684341497821105, 0.08624571076924928, 0.09063855274883803, -0.0037922844577177855, 0.11185935375578712, 0.026285709252036094, 0.0022020067929006976, 0.0539188140109454, 0.01068447868257703, -0.012171236583662618, -0.025839120401098287, 0.06351076121176379, 0.03951523551778832, -0.011423765496773826, 0.06246423551599798, 0.024787679217023077, 0.03827613585563234, 0.0017325311840640375, 0.0032667985255464835, 0.02490569837409372, 0.02882253575674755, 0.025421193144334893, -0.001894971187649896, -0.0058571817532727674, -0.0036370226971883194, -0.035894809749416105, 0.015672988803254406, 0.004903670820763281, 0.005743386557698202, 0.0024000825749053473, -0.013323553500444263, 0.006148872507649795, -0.002429897270800893, -0.004520311950864122, -0.00022447177112939855, -0.0022265725980567005, 0.0099212432909537, -0.014274220856795708, -0.0005951308288955294, -0.015131543089502408, 0.008023144200152705, -0.00490608246834563, 0.0048398003649010035, 0.006814605704536608, -0.013989286697331044, 0.0025467228603325374, 0.018228442780939633, -0.011647846066366206, -0.01596568597501109, -0.00033631459268978976, -0.006913528685843549, 0.005377750473542122, -0.005638902780493253, -0.0014881122598948496, -0.004339057232573022, 0.0038606271426717283, -0.00569049253194804, -0.012086610496943529, -0.007214976174529694, 0.02293888374627253, -0.02905153328915465, -0.0115516595042514, -0.018335327141231622, -0.012649659108151239, -0.024557185531813058, -0.02005046067831648, 0.005206734552024489, -0.02011567710288901, 0.06048599777057647, 0.039009090987708, -0.02296419940073958, -0.012427831170262171, -0.013120748286594293, 0.0007879441359685683, 0.0072954809046462815, 0.06492481479185842, -0.0063164980578483765, 0.010275772942620592, -0.004089767779681532, -0.004537122961664668, 0.013291419415626044, 0.009244100026338815, -0.0049994486187048635, -0.020633391545671467, 0.010153034945672969, -0.005096608477959109, -0.0005068959967507877, 0.005404438040256754, 0.021597075788100863, 0.01860287325188502, 0.022006989917317452, -0.08852573277228394, -0.004333427950198112, 0.005570418434828509, 0.012502684297299444, 0.013169841026532958, 0.010014739084044122, -0.005239496614691555, -0.01553846163666634, -0.009581302852013567, -0.0016773878367181997, 0.012124077271010497, 0.011071068264079862, -0.012459869194070137, -0.008719858247373641, -0.013597770158964309, 0.002439945256388604, 0.0036451136528528735, -0.001738296927170392, -0.01074999064601203, -0.005275648572809725, -0.006487941130690888, 0.008390278133166732, 0.008686918150722167, -0.12253461209873183, 0.008767868506817005, 0.007628128601961549, -0.003013994931799245, -0.001744341944165929, -0.007374033814889569, 0.009592248342559138, 0.10150405634545713, 0.0018335334605520555, -0.0013373076872541662, -0.0010278239703565405, 0.02182472245955085, -0.002184916919686579, 0.009316323428515978, -0.009684876576499706, -0.009625252777652376, 0.0014424965918256654, -0.0026028290055349268, 0.006152359560402824, -0.005542843411252025, -0.006162380242648557, -0.004473972022931142, -0.005101913879826257, -0.0040474602815943755, 0.0024080820331530387, -0.002258775417102394, 0.00044390327607512234, -0.002184916919686579, -0.00500622264518957, 0.0030829657704160374, 0.027648983024631934, -0.0010587411419114637, -0.004066495484676513, -0.0007858034210313247, -0.0028423897918204316, -0.018598857416174834, 0.007414390390605585, 0.0014061287443813528, -0.008729471712870014, -0.011002811689396578, -0.002277530371529116, 0.0018428078730658999, 0.004262853195065576, 0.012742227444491619, -0.0024521837537595094, -0.007242330917826112, -0.010222393765699916, 0.013671887955344603, -0.003215968224285002, -0.007057144286944022, -0.005898406040155577, -0.004675050396754495, -0.0054750741773237615, 0.004005028248103164, 0.003486409111956062, -0.006488868512687783, 0.004083925805337625, -0.006786101468179768, 0.02191334109999474, -0.005548730308896504, -0.010059466481875296, -0.00416461917486704, -0.009315206127150035, -0.004834529175793831, -0.003918194510122265, -0.00416461917486704, 0.00412359030371528, 0.0016190715642734994, -0.0020113007182095783, 0.021274344142488247, -0.006288233790657737, -0.008551650623650044, -0.011597840002765642, 0.0007994470060691779, 0.00210732185061749, 0.006940479830807348, -0.006384370355451001, -0.00416461917486704, 0.00043502005602812625, -0.006907960205998662, 0.005727284328165504, -0.0077357695362779266, 0.0031232738869963286, -0.005719769556305316, 0.000791675338099259, -0.0036464303271593634, 0.0002850548736870307, -0.001321935030382649, -0.0010338955740187893, 0.01163412626376569, -0.0035654447805571724, -0.016378569436131345, 0.0034910375645297934, 0.0020160009245296447, 0.0014080560639570462, -0.004140856342890132, -0.00441027511573282, -0.0020476065226582105, -0.0049400185221132025, -0.002234662470681251, -0.002268855890694878, -0.0036768987086810328, 0.003000947725463991, 0.002411627346003181, -0.006641501464885475, 0.025607192029997356, -0.010097488145175774, -0.011092222803233468, -0.011592162074382286, 0.0011059717754352955, -0.014633543855292941, -0.0006588819015496953, 0.0019821114664903294, 0.00014931822787642304, -0.010308113579053787, 0.015188456873299718, 0.0052815337111747395, -0.007518347666860481, -0.0044067535759304815, 0.0012228729189031771, 0.0001984975317883125, -0.0019524839118694466, -0.025622737407813734, 0.002579611829145814, 0.0024165803061613395, 0.0031356911208250842, 0.005804288197257449, 0.0024017000607463126, 0.002110184900883041, -0.0009002649501988881, 0.002110184900883041, -0.00516966353245587, -0.003214937411022776, 0.027271070667067694, -0.02129768441549674, 0.006069360114430064, 0.002110184900883041, -0.008733404417018597, -0.012594207842659822, -0.00796087463425662, 0.0009091148506583817, -0.0009172942578583737, 0.002110184900883041, -0.008337922239984514, 0.007022110387763543, -0.002590446284989562, -0.003730490542666012, -0.0008537441651388823, 0.08500767742313715, -0.00991984447999215, -0.06852102417522207, -0.013741489760717845, -0.004549012668242933, 0.0003486795282051825, 0.0020373571141356996, -0.005258997883674918, 0.00024729291678246166, -0.004330029662176787, 0.002829881090333151, 0.0025044082376415072, 0.003101755486365019, -0.011280696144957232, -0.014765248962496107, 0.0077099175843979885, 0.01192220011759394, 0.006500129057061537, -0.0016991750855830682, -0.008369265161363285, 0.009791681438068939, -0.0010033409946914188, -0.017261578985782403, -0.010632522780826046, 0.0042419483346232785, 0.01915707558272714, -0.01026025411206188, 0.0002659706746641646, -0.009946898691921115] -0.007174680992794488

In [ ]:
def sse(X, Y):
  return ((X - Y) ** 2).sum()

In [ ]:
model_sse = sse(linear_regression(X_train, w, b), Y)
sst = sse(np.ones(len(Y)) * Y.mean(), Y)
print(1 - model_sse / sst)

0.9122539692016534

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y)
model.score(X_train, Y)

0.9331307470360487

In [ ]:
sklearn_predictions = model.predict(test_df.to_numpy())