In [222]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as p
#np.experimental_enable_numpy_behavior()
#tf.config.list_physical_devices('GPU')

In [223]:
train_df = pd.read_csv('train.csv')
split_index = train_df.iloc[-1].Id
test_df = pd.read_csv('test.csv')
print(len(test_df))
df = pd.concat((train_df, test_df), sort=False)
df.head()

1459

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [224]:
for column in df.columns:
  nnull = df[column].isnull().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

MSZoning: 4 / 2919 Null
LotFrontage: 486 / 2919 Null
Alley: 2721 / 2919 Null
Utilities: 2 / 2919 Null
Exterior1st: 1 / 2919 Null
Exterior2nd: 1 / 2919 Null
MasVnrType: 24 / 2919 Null
MasVnrArea: 23 / 2919 Null
BsmtQual: 81 / 2919 Null
BsmtCond: 82 / 2919 Null
BsmtExposure: 82 / 2919 Null
BsmtFinType1: 79 / 2919 Null
BsmtFinSF1: 1 / 2919 Null
BsmtFinType2: 80 / 2919 Null
BsmtFinSF2: 1 / 2919 Null
BsmtUnfSF: 1 / 2919 Null
TotalBsmtSF: 1 / 2919 Null
Electrical: 1 / 2919 Null
BsmtFullBath: 2 / 2919 Null
BsmtHalfBath: 2 / 2919 Null
KitchenQual: 1 / 2919 Null
Functional: 2 / 2919 Null
FireplaceQu: 1420 / 2919 Null
GarageType: 157 / 2919 Null
GarageYrBlt: 159 / 2919 Null
GarageFinish: 159 / 2919 Null
GarageCars: 1 / 2919 Null
GarageArea: 1 / 2919 Null
GarageQual: 159 / 2919 Null
GarageCond: 159 / 2919 Null
PoolQC: 2909 / 2919 Null
Fence: 2348 / 2919 Null
MiscFeature: 2814 / 2919 Null
SaleType: 1 / 2919 Null
SalePrice: 1459 / 2919 Null

In [225]:
# Replace NaN values with 'NA' in columns where NaN is a category
df.Alley.fillna('NA', inplace=True)
df.BsmtQual.fillna('NA', inplace=True)
df.BsmtCond.fillna('NA', inplace=True)
df.BsmtExposure.fillna('NA', inplace=True)
df.BsmtFinType1.fillna('NA', inplace=True)
df.BsmtFinType2.fillna('NA', inplace=True)
df.FireplaceQu.fillna('NA', inplace=True)
df.GarageType.fillna('NA', inplace=True)
df.GarageFinish.fillna('NA', inplace=True)
df.GarageQual.fillna('NA', inplace=True)
df.GarageCond.fillna('NA', inplace=True)
df.PoolQC.fillna('NA', inplace=True)
df.Fence.fillna('NA', inplace=True)
df.MiscFeature.fillna('NA', inplace=True)

'''df.MSZoning.fillna('A', inplace=True)
df.LotFrontage.fillna(df.LotFrontage.mean(), inplace=True)
df.Utilities.fillna('AllPub', inplace=True)
df.Exterior1st.fillna('Other', inplace=True)
df.Exterior2nd.fillna('Other', inplace=True)
df.MasVnrType.fillna('BrkCmn', inplace=True)
df.MasVnrArea.fillna(df.MasVnrArea.mean(), inplace=True)
df.BsmtFinSF1.fillna(df.BsmtFinSF1.mean(), inplace=True)'''

for column in df.columns:
  if df[column].dtype == 'object':
    df[column] = df[column].fillna(df[column].mode(dropna=True).values[0])
  else:
    df[column] = df[column].fillna(df[column].mean())

for column in df.columns:
  nnull = df[column].isna().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

In [226]:
df.LotFrontage.fillna(df.LotFrontage.mean(), inplace=True)
df.GarageYrBlt.fillna(df.GarageYrBlt.mode(), inplace=True)
df.SalePrice.fillna(0, inplace=True)
#df.dropna(axis='rows', inplace=True)

for column in df.columns:
  nnull = df[column].isnull().sum()
  
  if nnull > 0:
    print(column + ':', nnull, '/', len(df[column]), 'Null')

# Should be no NaNs past this point

In [227]:
# Define a function to help with converting columns to one-hot categorical

def col_to_categorical(df, col):
  categorical = pd.get_dummies(df[col])

  for value in categorical.columns:
    df[col + '_' + value] = categorical[value]
  
  df.drop(col, axis='columns', inplace=True)

# Define a convenience function for converting multiple columns to one-hot categorical

def cols_to_categorical(df, cols):
  for col in cols:
    col_to_categorical(df, col)

In [228]:
categorical_cols = [
  'MSZoning',
  'Street',
  'Alley',
  'LotShape',
  'LandContour',
  'Utilities',
  'LotConfig',
  'LandSlope',
  'Neighborhood',
  'Condition1',
  'Condition2',
  'BldgType',
  'HouseStyle',
  'RoofStyle',
  'RoofMatl',
  'Exterior1st',
  'Exterior2nd',
  'MasVnrType',
  'ExterQual',
  'ExterCond',
  'Foundation',
  'BsmtQual',
  'BsmtCond',
  'BsmtExposure',
  'BsmtFinType1',
  'BsmtFinType2',
  'Heating',
  'HeatingQC',
  'CentralAir',
  'Electrical',
  'KitchenQual',
  'Functional',
  'FireplaceQu',
  'GarageType',
  'GarageFinish',
  'GarageQual',
  'GarageCond',
  'PavedDrive',
  'PoolQC',
  'Fence',
  'MiscFeature',
  'SaleType',
  'SaleCondition'
]

In [229]:
cols_to_categorical(df, categorical_cols)
df.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       ...
       'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth', 'SaleType_WD',
       'SaleCondition_Abnorml', 'SaleCondition_AdjLand',
       'SaleCondition_Alloca', 'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=304)

In [230]:
df.set_index('Id', drop=True, inplace=True)

In [231]:
from sklearn.preprocessing import minmax_scale

# Scale all columns
for column in df.columns:
  if column != 'SalePrice':
    df[column] = pd.Series(minmax_scale(df[column]), index=df.index)

In [232]:
from sklearn.preprocessing import MinMaxScaler

target_col = df.loc[:split_index].SalePrice
target_scaler = MinMaxScaler()
Y = np.array(target_col.to_numpy())
Y = Y.reshape(Y.size, 1)
target_scaler.fit(Y)
Y = target_scaler.transform(Y)
Y = Y.reshape(Y.size)
df.drop('SalePrice', axis='columns', inplace=True)

In [233]:
train_df = df.loc[:split_index]

for i in range(split_index + 1, split_index + 100):
  if i in df.index:
    test_df = df.loc[i:]
    break

train_df.to_csv('train_out.csv')
test_df.to_csv('test_out.csv')
train_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.12250,0.125089,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.00000,0.173281,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.10125,0.086109,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.00000,0.038271,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.21875,0.116052,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [234]:
print(train_df.shape, test_df.shape, target_col.shape)

(1460, 302) (1459, 302) (1460,)

In [235]:
X_train = np.array(train_df.to_numpy())
print(X_train.shape, Y.shape)

(1460, 302) (1460,)

In [236]:
train_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,0.235294,0.150685,0.033420,0.666667,0.500,0.949275,0.883333,0.12250,0.125089,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.000000,0.202055,0.038795,0.555556,0.875,0.753623,0.433333,0.00000,0.173281,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.235294,0.160959,0.046507,0.666667,0.500,0.934783,0.866667,0.10125,0.086109,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.294118,0.133562,0.038561,0.666667,0.500,0.311594,0.333333,0.00000,0.038271,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.235294,0.215753,0.060576,0.777778,0.500,0.927536,0.833333,0.21875,0.116052,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [237]:
def mse(X, Y):
  return ((X - Y) ** 2).mean() / 2

In [238]:
def linear_regression(x, w, b):
  return np.dot(x, w) + b

print(linear_regression([2], [3], 2))

8

In [239]:
def gradient_descent(X, Y, w, _b, learning_rate, iterations):
  b = _b
  double_len_X = len(X) * 2
  X_transpose = X.transpose()

  for _ in range(iterations):
    #linear_regressions = np.array([linear_regression(x, w, b) for x in X])
    linear_regressions = linear_regression(X, w, b)
    differences = (linear_regressions - Y)

    '''for i in range(len(w)):
      w_change = (differences * X[:, i]).mean()

      #for j in range(len(X)):
      #  w_change += differences[j] * X[j][i]
      
      w[i] -= learning_rate * w_change / 2'''
    
    w -= learning_rate * np.dot(X_transpose, differences) / double_len_X
    b_change = differences.mean()

    '''for j in range(len(X)):
      b_change += (linear_regressions[j] - Y[j])'''
    
    b -= learning_rate * b_change / 2

    if _ % 10000 == 0:
      print('Iteration: ' + str(_) + ', Loss: ' + str(mse(linear_regressions, Y)))
  
  return b

In [240]:
w = np.array([0] * 302, dtype='float')
b = gradient_descent(X_train, Y, w, 0, 0.01, 100000)

Iteration: 0, Loss: 0.026640919287270397
Iteration: 10000, Loss: 0.0007303041545136871
Iteration: 20000, Loss: 0.0006544633281726532
Iteration: 30000, Loss: 0.0006205399799965043
Iteration: 40000, Loss: 0.0005986382461302093
Iteration: 50000, Loss: 0.0005823097158760736
Iteration: 60000, Loss: 0.0005692169563439769
Iteration: 70000, Loss: 0.0005582630400169426
Iteration: 80000, Loss: 0.0005488493856648091
Iteration: 90000, Loss: 0.0005406124155676453

In [241]:
print(list(w), b)

[-0.020616425613333184, -0.019436495560088342, 0.057238817465220374, 0.09682168571950414, 0.050971289256004124, 0.01442395309866415, 0.006622463185966146, 0.037947344103421494, 0.03876450559473981, 0.015517155383109478, 0.009188992318057929, 0.0431966505313144, 0.0860348262540955, 0.09188489007182257, -0.0034281926414083948, 0.11222805365930799, 0.025574454911627322, 0.0017408500294780133, 0.052399886208865244, 0.011502485088038354, -0.013627118596858629, -0.029433124887636823, 0.0639650513776584, 0.03680980011816021, -0.013190384490354786, 0.06237405139345157, 0.02288841316014696, 0.038888348667432925, 0.0038352375947737446, 0.001764464535079337, 0.024997457363060048, 0.028724685774413755, 0.026195754621889236, -0.0016449856727396297, -0.005863979712146897, -0.003858692956208466, -0.03503750210878714, 0.014268869658591303, 0.004876111171303101, 0.005813056003488412, 0.0027160461566798693, -0.013155785742386229, 0.0057923666236608965, -0.0030427045402522408, -0.004726204056587326, 0.00040548947811423644, -0.002264362616454094, 0.009890410547746763, -0.01452590180828038, -0.000463565241737583, -0.014464742481282357, 0.008000756104840794, -0.005582144628863975, 0.004682711886580038, 0.006573097665521729, -0.013936516784247073, 0.0022439535982194977, 0.01746063213671552, -0.011599046664650645, -0.015439109109549449, -2.9849079460419542e-05, -0.0072724354996689215, 0.004864664149761507, -0.004955647768817743, -0.00219050161568938, -0.005015988579629077, 0.003109960804660949, -0.0057160271469060405, -0.011575641972114515, -0.007243840553366209, 0.022316480841983444, -0.029184353393250848, -0.012104465339704969, -0.018766004934700625, -0.011055533712154576, -0.024194046783141788, -0.01986042368239214, 0.005207331602816562, -0.01987681079292862, 0.06120205653329509, 0.03941873292924428, -0.02336323111208185, -0.012452407698166012, -0.012898588725326135, 0.0007840620037805372, 0.00744259977322557, 0.06526442909312269, -0.006379712613463444, 0.009768505954159566, -0.0038600754577929365, -0.004445652195204256, 0.013331682823396033, 0.009124957636506826, -0.004714055279875981, -0.021207851599180632, 0.009754357117708739, -0.004664724608606748, -0.0006820575556767543, 0.006435170883184989, 0.020882146244256244, 0.019169586291178937, 0.02070890438272688, -0.08850826741516134, -0.004518987487727179, 0.00558520341383528, 0.01288282456897945, 0.01260139713987546, 0.00977466936613094, -0.0032235446654725343, -0.015974327619946424, -0.010541613339313112, -0.0017233249500817965, 0.012165668550733392, 0.011633291611046688, -0.013724378194784524, -0.008394230162252842, -0.013672181126764228, 0.002341891194268961, 0.004009843959108688, -0.0020394914834447222, -0.010645949642994423, -0.003768093488235036, -0.006889438463305268, 0.008008183076644165, 0.00797137088260995, -0.12273868979891822, 0.009304540594280823, 0.007689803234568092, -0.0031207520690682317, -0.0015074362119199911, -0.007503057562470176, 0.00987846131719115, 0.10063371137761193, 0.0021764562150526695, -0.0013633441323552288, -0.0009364795618801061, 0.022657661976544227, -0.0018774041220153696, 0.008732112594899408, -0.010319386173012006, -0.009451445970688754, 0.0009085036840722023, -0.0028283953620687466, 0.0086320492943145, -0.004965724892816893, -0.006698180896049781, -0.006251995790628827, -0.0057778459820919574, -0.0029648134054841356, 0.0025158616153093047, -0.00199811575000334, 0.0010219255359060716, -0.0018774041220153696, -0.005432960563660004, 0.0045722028018918065, 0.028195313728591333, 0.0002460834788219856, -0.0040333647688535895, 0.0006374685391233637, -0.016169934213801355, -0.017721973050556665, 0.008954279229887938, 0.0038070198404693903, -0.007115008014351028, -0.00936748296918799, -0.0028771101628793355, 0.0012108469628995316, 0.003670327050442424, 0.013508888640029665, -0.0022524495556616193, -0.008208681439623396, -0.010411176763469787, 0.012729282695709858, -0.002819943799242995, -0.0071693415012516635, -0.005424427975906153, -0.004678988538034516, -0.005349465261038516, 0.004291726204116134, 0.0030147924700518764, -0.006041331305044646, 0.004100531643682844, -0.007379672870493147, 0.021877085451829332, -0.005543197970442317, -0.009977521693105966, -0.0042831348180255805, -0.00943665008898084, -0.005084780528181703, -0.0033520269265964724, -0.0042831348180255805, 0.0046227838222716155, 0.000733739331806936, -0.0022660605302527444, 0.021831444563428812, -0.006363730523524062, -0.008723001415520786, -0.011842071212856532, 0.0008157208245639554, 0.0023951338797286365, 0.007138634311901141, -0.0066430330723475685, -0.0042831348180255805, -5.2169783456961295e-05, -0.0067345704610890554, 0.004808411670816879, -0.007482185692544564, 0.0043318126965431, -0.006416065524544731, 0.000806288502466102, -0.003762949232036984, 0.0003512684605751197, -0.0014592644160400072, -0.0010773519610667453, 0.012212316873309675, -0.0035427008292851377, -0.01726899656702954, 0.003772577781386026, 0.0020961802789956673, 0.0013746005736574255, -0.004127950762380048, -0.004397947813015371, -0.0023083013959829825, -0.004934036936215983, -0.002429382182509423, -0.0027695379782547136, -0.0026730277960914915, 0.0027042295602427062, 0.002337919769412386, -0.006963002674034138, 0.026054461274580793, -0.010404775136283514, -0.011086614575316178, -0.011926490681706862, -0.00399561328441985, -0.013111374941809719, 0.00036780081261330585, 0.0029240005377249665, 0.0006583822122200618, -0.010319275496400397, 0.016112661041346527, 0.005114781082288037, -0.007330437855558227, -0.0038261748795112823, 0.0006011742936262549, -8.555880935929086e-05, -0.001837202950210743, -0.0255003378050969, 0.0025410129575490436, 0.0039475211585017845, 0.00228888004313044, 0.0052462588311562326, 0.002405623033222928, 0.0017076226628117699, -0.0008190390134769628, 0.0017076226628117699, -0.005358490672652251, -0.002893512095407754, 0.026212201850802717, -0.020216297843316237, 0.005811822971487687, 0.0017076226628117699, -0.008336479826385305, -0.012542288934125978, -0.008518779630689578, 0.001050653170244356, -0.00018164221352626428, 0.0017076226628117699, -0.007980947237630199, 0.006559674130064446, -0.002670046767465504, -0.0040758147815888185, -0.0006175575696709626, 0.08553319648059633, -0.010227341258491202, -0.06798599089698446, -0.014683283443846224, -0.004627748108862721, 0.000573967664944763, 0.0019578962004783438, -0.0054748201731886215, 0.00020728529790280028, -0.00408151784757246, 0.0027517848679845026, 0.0024456043307028224, 0.0028728526040012895, -0.011352143073841471, -0.015024400035949872, 0.00826675170971673, 0.011510917020485364, 0.006066606248979664, -0.002065913583336407, -0.007900391651917197, 0.010284162280883693, -0.0010219868227971747, -0.017479164284790523, -0.008918780188895567, 0.004895815935590598, 0.012311461368366212, -0.00856879788244616, 0.0018950859492198645, -0.00897820430056026] -0.007363419118725377

In [242]:
def sse(X, Y):
  return ((X - Y) ** 2).sum()

In [243]:
model_sse = sse(linear_regression(X_train, w, b), Y)
sst = sse(np.ones(len(Y)) * Y.mean(), Y)
print(1 - model_sse / sst)

0.9123021843622661

In [244]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y)
model.score(X_train, Y)

0.9332152454506968

In [245]:
sklearn_predictions = model.predict(test_df.to_numpy())

In [246]:
predictions = linear_regression(test_df.to_numpy(), w, b)

In [248]:
predictions = predictions.reshape((predictions.size, 1))
predictions = target_scaler.inverse_transform(predictions)
predictions = predictions.reshape(predictions.size)
predictions

array([108403.69764999, 146039.1664962 , 173878.95959025, ...,
       163117.27916203, 101996.17643232, 219999.73304765])